@import '../../../../global.scss';

.main-container{
    display: flex;
    flex-direction: column;
    gap: $lengt-sm3;
    padding: $lengt-md1;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-logo{
    width: 2.5rem;
    object-fit: contain;
}

.title{
    text-align: center;
    font: {
        size: $text-xl;
        weight: 600;
    } 
}
//p-2 relative border-2 border-black rounded
.button-tracking{
    position: relative;
    padding: $lengt-sm2;
    border: 2px solid $black;
    border-radius: $lengt-sm1;

    img{
        width: 1.5rem;
    }
}

.circle-tracking{
    @include flex-center;

    width: 1.25rem;
    height: 1.25rem;
    color: $white;
    background-color: red;
    border-radius: 50%;

    position: absolute;
    top: -10px;
    right: -10px;
}

.search-container{
    background-color: #EDF4FF;
    display: flex;
    padding: $lengt-sm2;
    border-radius: $lengt-md1;

    input{
        width: 100%;
        font-style: italic;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        padding-left: $lengt-md3;

        &:focus{
            outline: none;
        }
    }

    img{
        margin-right: $lengt-sm3;
    }
}

.list-product-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 0.5rem;
}