@import '../../../../global.scss';

.container-homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $header-height);
}

img {
  width: 30rem;
}

.main-paragraph {
  font-size: 2rem;
  text-align: center;
}

.start-button {
  padding: 1rem;
  background-color: $light-blue;
  color: $white;
  border-radius: $lengt-sm2;
  border: 1px solid $light-blue;
  transition: 0.6s all;
  cursor: pointer;
  font-size: large;

  &:hover {
    background-color: $white;
    color: $light-blue;
    transform: translateY(30);
  }
}

// //'bg-slate-200 w-40 h-40 -z-10 opacity-30 rounded-full absolute -top-12 -right-12
// @mixin bg-circle($top: auto, $right: auto, $bottom: auto, $left: auto) {
//   background-color: #e2e8f0;
//   border: 1px solid darken($color: #e2e8f0, $amount: 20);
//   border-radius: 50%;
//   height: 10rem;
//   opacity: 30%;
//   width: 10rem;

//   position: absolute;
//   top: $top;
//   right: $right;
//   bottom: $bottom;
//   left: $left;
//   z-index: -10;
// }

// .bg-circle-top {
//   @include bg-circle(-3rem, -3rem);
// }
// .bg-circle-bottom {
//   @include bg-circle(null, null, -3rem, -2rem);
// }
//'bg-slate-200 w-40 h-40 opacity-30 rounded-full absolute -bottom-12 -left-12
