@import '../../../../global.scss';

header {
  background-color: $light-blue;
  font: {
    size: 1.3rem;
    weight: 500;
  }
  height: $header-height;
  box-shadow: $container-shadow;
  padding: $lengt-md3 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: $lengt-md3;
  }

  img {
    width: 45px;
    filter: invert(1);
  }
}

.header-links {
  color: white;
  text-decoration: none;

  &::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: transform 250ms ease-in-out;
    transform: scaleX(0);
    border-bottom: 2px solid $white;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.language-buttons-container {
  display: flex;
  gap: $lengt-sm3;

  // TODO
  button {
    background-color: transparent;
    border: none;
    color: $white;
  }
}

.auth-buttons-container {
  display: flex;
  gap: $lengt-sm3;

  button {
    padding: $lengt-sm3;
    border: none;
    border-radius: $lengt-sm1;
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $light-blue;
    }
  }
}
