@import '../../../../global.scss';

header {
  background-color: $light-blue;
  font: {
    size: 1.3rem;
    weight: 500;
  }
  height: $header-height;
  box-shadow: $container-shadow;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $lengt-md3 $lengt-lg2;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: $lengt-md3;
  }

  img {
    width: 45px;
    filter: invert(1);
  }
}

a {
  color: white;
}

.auth-buttons-container {
  display: flex;
  gap: $lengt-sm3;

  button {
    padding: $lengt-sm3;
    border: none;
    border-radius: $lengt-sm1;
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $light-blue;
    }
  }
}
