//Colors
$black: #1f1f1f;
$light-blue: #6173ff;
$dark-grayish-blue: #4c545d;
$white: #fff;
$text-xl: 2rem;

//lengths
$lengt-sm1: 0.25rem;
$lengt-sm2: 0.5rem;
$lengt-sm3: 0.75rem;
$lengt-md1: 1rem;
$lengt-md2: 1.25rem;
$lengt-md3: 1.5rem;
$lengt-lg1: 2rem;
$lengt-lg2: 3rem;
$lengt-lg3: 4rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
