@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Colors
$black: #1f1f1f;
$light-blue: #6173ff;
$dark-grayish-blue: #4c545d;
$white: #fff;
$text-xl: 2rem;

// Lengths
$lengt-sm1: 0.25rem;
$lengt-sm2: 0.5rem;
$lengt-sm3: 0.75rem;
$lengt-md1: 1rem;
$lengt-md2: 1.25rem;
$lengt-md3: 1.5rem;
$lengt-lg1: 2rem;
$lengt-lg2: 3rem;
$lengt-lg3: 4rem;

// Shadows
$container-shadow: -1px 11px 53px -19px rgb(0 0 0 / 75%);

// Constants
$header-height: 100px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
